* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color-light-mode: #ffffff;
  --text-color-light-mode: #323238;
  --card-color-light-mode: #e1e1e6;
  --card-color-active-light-mode: #02799d;
}

.light {
  opacity: 0;
}

.dark-mode {
  --bg-color-dark-mode: #121214;
  --text-color-dark-mode: #ffffff;
  --card-color-dark-mode: #29292e;
  --card-color-active-dark-mode: #0a3442;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19.2rem;
}

body {
  background-color: var(--bg-color-light-mode);
  font-family: "Roboto", sans-serif;
  height: 100vh;

  display: grid;
  place-content: center;
}

body .dark-mode {
  background-color: var(--bg-color-dark-mode);
  font-family: "Roboto", sans-serif;
  height: 100vh;

  display: grid;
  place-content: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button.dark-mode {
  background-color: #c4c4cc;
  background: none;
  border: none;
  cursor: pointer;
}

#timer-and-controls {
  display: grid;
  place-content: center;
}

#timer {
  font-weight: 500;
  font-size: clamp(5rem, 5rem + 10vw, 12.617rem);
  line-height: 14.785rem;
  display: flex;
  justify-content: center;
  color: var(--text-color-light-mode);
  margin-bottom: 1rem;
}

#timer.dark-mode {
  font-weight: 500;
  font-size: clamp(5rem, 5rem + 10vw, 12.617rem);
  line-height: 14.785rem;
  display: flex;
  justify-content: center;
  color: var(--text-color-dark-mode);
  margin-bottom: 1rem;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

#sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

#sounds button {
  padding: 4.8rem 4.8rem 4.7rem 4.7rem;
  background-color: var(--card-color-light-mode);
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
}

#sounds button.dark-mode {
  padding: 4.8rem 4.8rem 4.7rem 4.7rem;
  background-color: var(--card-color-dark-mode);
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
}

#sounds button:hover {
  background-color: var(--card-color-active-light-mode);
}

#sounds button:hover .dark-mode {
  background-color: var(--card-color-active-dark-mode);
}

.light-mode-button,
.dark-mode-button {
  position: absolute;
  top: 3.75rem;
  right: 3.75rem;
}

@media (min-width: 48em) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  }

  .light-mode-button,
  .dark-mode-button {
    position: absolute;
    top: 3.75rem;
    right: 3.75rem;
  }
}
